.page-header{
    margin: 10px;
    padding: 10px;
    color: black;
}
body{
    background-color: aqua;
}
.footer{
    background-color: grey;
    clear: both;
    position: relative;
    height:100px;
    margin-top: -200px;
}
.col{
    margin-top: 100px;
}